
HTML, body {
    width: 100%;
    overflow-x: hidden;
}
body{
    background-color: #000;
}
.logo{
    width: 150px;
    object-fit: cover;
}
.text p {
    font-family: sans-serif !important;
    color: white !important;
    max-width: 75%;
    margin: auto;
    font-size: 250%;
    text-align: center;
    font-style: italic;
}
.heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: #8A2C35;
    padding-top: 20px;
    font-size: 390%;
    text-transform: uppercase;
}
.card {
    margin: auto !important;
    max-width: 75%;
    border-radius: 50px;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 10px 10px 30px 10px  #7E262E;
}
.card-body{
    font-family: sans-serif;
    text-align: center !important;
    margin: auto !important;
   
}
.card-group {
    max-width: 75%;
   gap: 30px;
    margin: auto !important;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    margin: auto;
    padding: 25px;
    object-fit: cover;
}
.partners{
    margin: auto;
    max-width: 75%;
    border-radius: 50px;
}
.img-thumbnail {
    background: none;
    border: none;
    width: 300px;
    object-fit: cover;
}
hr{
    border: 0.5px solid white;
    max-width: 75%;
    margin: auto;
}
.enquiry-form{
    text-align: left;
    background: none;
    color: white;
    max-width: 75%;
    margin: auto;
   
}
.form-group{
    margin-bottom: 5px; 
}

.enquiry-form .btn{
    background-color:  #8A2C35 !important; 
    border: none; 
    width: 100% !important;
    margin: auto !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0px 10px 0!important;
    padding: 1%;
}
.enquiry-form .btn:hover{
    background-color: #ee4e5e !important; 
    border: none; 
}

footer{
    background-color: #8A2C35 !important;
}

@media only screen and (max-width: 600px) {
   
    .text {
        font-family: sans-serif !important;
        color: white;
        max-width: 75%;
        margin: auto;
        font-size: 50%;
        text-align: center;
        font-style: italic;
    }
    .heading{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        color:#902A32;
        padding-top: 20px;
        font-size: 220%;
        font-weight:800;
        text-transform: uppercase;
    }
.card{
    margin-top: 15px !important;
}

}
